
.register{
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
      ),
    url("https://scontent.xx.fbcdn.net/v/t1.15752-9/p403x403/263700011_3047959162145757_6429880530861393661_n.png?_nc_cat=104&ccb=1-5&_nc_sid=aee45a&_nc_ohc=Ud_k-DI58qgAX99Rhke&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=d7b26a8056e83eda12cd12a06697c4fe&oe=61D34686") no-repeat;
    background-size: cover;
    height: 90vh;
    min-height: 800px;
    color: #fff;
    align-items: center;
    font-family: 'Comfortaa', cursive;
    
}
.registerTitle{
    align-self: center;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}
.registerForm{
    padding-top: 5vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.registerInput{
    padding: 1em 3em 1em 1em;
    width: 400px;
    border-radius: 30px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.35);
    color: #FFF;
    text-indent: 30px;
}
.registerInput::placeholder{
    color: #CCC;
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
}
.registerInput:focus{
    outline: none;
}
.registerButton{
    cursor: pointer;
    background-color: #0A6937;
    color: #fff;
    padding: .7em 0;
    margin: 20px;
    border: 1px solid #FFF;
    outline: none;
    font-size: 20px;
    border-radius: 30px;
    width: 200px;
    
}
.registerButton:hover{
    background-color: #9EEB47;
    color: #000;
    transition: 0.5s all;
}
.registerIcon{
    position: absolute;
    margin: 18px;
    font-size: 20px;
    color: #FFF;
    z-index: 100;
}
.errorAppear{
    color: #fff;
    font-size: 20px;
}
.errorAppear i{
    color: orangered;
}
