
.register{
    background: linear-gradient(
        rgba(0, 0, 0, 0.4), 
        rgba(0, 0, 0, 0.4)
      ),
    url("https://ae01.alicdn.com/kf/HTB1uCSUGnJYBeNjy1zeq6yhzVXaG/Laeacco-Wooden-Board-Delicious-Foods-Baby-Portrait-Photography-Backgrounds-Customized-Photographic-Backdrops-For-Photo-Studio.jpg_Q90.jpg_.webp") no-repeat;
    background-size: cover;
    height: 90vh;
    min-height: 700px;
    color: #fff;
    align-items: center;
    font-family: 'Comfortaa', cursive;
    
}
.registerTitle{
    align-self: center;
    align-items: center;
    font-size: 50px;
    color: #FFF;
    margin-bottom: 20px;
}
.registerForm{
    padding-top: 5vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.registerInput{
    padding: 1em 3em 1em 1em;
    width: 400px;
    border-radius: 30px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.35);
    color: #FFF;
    text-indent: 30px;
}
::placeholder{
    color: #DDD;
}
.registerInput:focus{
    outline: none;
}
.registerButton{
    cursor: pointer;
    background-color: #0A6937;
    color: #fff;
    padding: .7em 0;
    margin: 20px;
    border: 1px solid #FFF;
    outline: none;
    font-size: 20px;
    border-radius: 30px;
    width: 200px;
    
}
.registerButton:hover{
    background-color: #9EEB47;
    color: #000;
    transition: 0.5s all;
}
.registerIcon{
    position: absolute;
    margin: 18px;
    font-size: 20px;
    color: white;
}
.errorAppear{
    color: #fff;
    font-size: 20px;
}
.errorAppear i{
    color: orangered;
}