/* Reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common css */

html {
    font-family: 'Times New Roman', Times, serif;
}

.clear {
    clear: both;
}

/* header */
#header {
    position: fixed;
    top: 0;
    background-color: #0D8244;
    padding: 24px 15px;
    height: 90px;
}

.container-header {
    width: 96%;
    margin: 0 auto;
}

.logo-box, .center-box, 
.search-box, .login-box {
    display: inline-block;
}

.logo-box {
    float: left;
}

.center-box {
    height: 50px;
    width: calc(100% - 700px);
    float: left;
}

.search-box {
    background-color: #000;
    width: 300px;
    border-radius: 255px;
}

.search-box .search-icon {
    color: #fff;
    padding: 10px;
    margin-left: 5px;
}

.search-box .search-input {
    color: #fff;
    border: none;
    outline: none;
    background-color: inherit;
    line-height: 44px;
    width: 200px;
}

.login-box {
    float: right;
}

.login-box .login-btn {
    color: #000;
    background-color: yellow;
    border: none;
    outline: none;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    border-radius: 65px;
    cursor: pointer;
}

.login-box .login-btn:hover {
    opacity: 0.9;
    text-shadow: 1px 1px 2px rgb(190, 190, 5);
}


.box{
    background-color: #212529;
    margin-top: 90px;
    width: 100%;
    height: 90%;
    color: #fff;
    float:left;
    align-items:center;
}

.nav-list {
    padding-left: 0;
    margin: auto 16px;
}

.nav-item {
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    color: #000;
    background-color: #C4C4C4;
    border: none;
    outline: none;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    border-radius: 65px;
    cursor: pointer;
}

