/*header*/
a{
    text-decoration: none;
}
.header{
    height: 120px;
    background-color: #0D8244;
    color:#ffffff;
    width: 100%;
    margin-top: 0px;
}
.header-with-search{
    height: 120px;
    display: flex;
    align-items: center;
}
.header__webname{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 30px;
    align-items: center;

}
/* searchbar */
.header__search{
    background-color: #212529;
    margin-left: 200px;
    border-radius: 100px;
    width: 551px;
    height: 55px;
    left: 500px;
    top: 30px;
}
.header__search-icon{
    font-size: 20px;
    margin-left: 9px;
    margin-top: 1px;
}
.header__search-input{
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    width: 500px;
    height: 40px;
    color: #ffffff;
    align-items: center;
    border: none;
    outline: none;
    margin-top: 7px;
    background-color: #212529;
}
/* user */
.header__user{
    width: 150px;
    text-align: center;
    text-decoration: none;
}
.header__user-frame{
    width: 50px;
    height: 50px;
    margin-left: 300px;
    background: #FA00FF;
    border: 3px solid #000000;
    border-radius: 50%
    }
.header__user-icon{
    margin-top: 5px;
    font-size: 30px;
}
/* Container */
body{
    background-color: #212529;
}
.webreview_container{
    color: #ffffff;
    margin: auto;
    display: flex;
}
.container_img-login{
    width: 585px;
    height: 518px;
}
.bgimg{
    background-size: contain;
    background-image: url('../image/background2.jpg'); 
    background-repeat: no-repeat;
}
aside{
    position: absolute;
      width: 418px;
        height: 518px;
        margin-left: 1100px;
        top: 120px;
        background: #A0DA96;
 
}
p.info1, a.info2{
position: relative;
text-align: center;

font-size: 30px;
line-height: 28px;}
p.info2 {
    text-align:left;
margin-left: 35px;
    font-size: 22px;
    line-height: 40px;}
/*Login*/
img.avatar
{
    position: absolute;
    top: 130px;
    left: 830px;
    border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 250px;
}
.rec3
{
position: absolute;
width: 550px;
height: 97px;
left: -29px;
top: 805px;

background: #78BF6C;
border-radius: 20px;
}
.a1
{
position: absolute;
width: 529px;
height: 133px;
left: 3px;
top: 750px;

font-family: Comfortaa;
font-style: normal;
font-weight: 1;
font-size: 45px;
line-height: 50px;
display: flex;
align-items: center;
text-align: center;

color: #231C1C;
}
.login_arrtibutes{
    font-size: 18px;
    color: #ffffff;
    margin-left: 88px;
}
.Login__form{
    color: #3CAF4B;
    margin-left: 300px;
    font-size: 26px;
}
.Login__username-space{
    display: flex;
}
.Login__username-icon{
    width: 50px;
    height: 50px;
}
.Login__username{
    width: 200px;
    display: flex;
    border-radius: 100px;
    width: 300px;
    height: 55px;
    border: 2px solid;
    border-color: #ffffff;
    margin-left: 20px;
}
.Login__username-input{
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    width: 260px;
    height: 20px;
    color: #ffffff;
    align-items: center;
    border: none;
    outline: none;
    margin-top: 15px;
    margin-left: 15px;
    background-color: #212529;
    display: flex;
}
/*password*/
.Login__password-space{
    display: flex;
    margin-top: 20px;
}
.Login__password-icon{
    width: 50px;
    height: 50px;
    margin-left: 15px;
    margin-top: 13px;
    color: #ffffff;
}
.Login__password{
    width: 200px;
    display: flex;
    border-radius: 100px;
    width: 300px;
    height: 55px;
    border: 2px solid;
    border-color: #ffffff;
    margin-left: 5px;
}
.Login__password-input{
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    width: 260px;
    height: 20px;
    color: #ffffff;
    align-items: center;
    border: none;
    outline: none;
    margin-top: 15px;
    margin-left: 15px;
    background-color: #212529;
    display: flex;
}
/*button*/
.btn{
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 12px 48px;
    width: 371px;
    margin-top: 20px;
    border-radius: 100px;
    cursor: pointer;
    transition: opacity 0.2s;
}
.btn:hover{
    font-size: 27px;
    opacity: 0.8;
}
.btn--login{
    background-color: #0A6937;
}
.btn--disable{
    opacity: 0.5 !important;
    cursor: default;
}
.login__extend{
    text-align: right;
}
.login__extend1{
    margin-top: 20px;
    color: #0D8244;
    outline: none;
    text-decoration: none;
}
/* footer */
.footer{
    height: auto;
    background-color: #0D8244;
}
.footer__heading{
    color: #ffffff;
    font-size: 20px;
}
.footer__logo{
    display: flex;
}
.footer__icon{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    width: 100%;
    color: #ffffff;
    font-size: 30px;
    align-items: center;
    text-align: center;
}
.footer__list{
    color: #ffffff;
    font-size: 14px;
    list-style: none;
}
.footer-item{
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    list-style: none;
    line-height: 1.6;
}
.footer-item__link{
    text-decoration: none;
    color: #ffffff;
}