/*header*/
a{
    text-decoration: none;
}
.header{
    height: 120px;
    background-color: #0D8244;
    color:#ffffff;
    width: 100%;
    margin-top: 0px;
}
.header-with-search{
    height: 120px;
    display: flex;
    align-items: center;
}
.header__webname{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 30px;
    align-items: center;

}
/* searchbar */
.header__search{
    background-color: #212529;
    margin-left: 200px;
    border-radius: 100px;
    width: 551px;
    height: 55px;
    left: 500px;
    top: 30px;
}
.header__search-icon{
    font-size: 20px;
    margin-left: 9px;
    margin-top: 1px;
}
.header__search-input{
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    width: 500px;
    height: 40px;
    color: #ffffff;
    align-items: center;
    border: none;
    outline: none;
    margin-top: 7px;
    background-color: #212529;
}
/* user */
.header__user{
    width: 150px;
    text-align: center;
    text-decoration: none;
}
.header__user-frame{
    width: 50px;
    height: 50px;
    margin-left: 300px;
    background: #FA00FF;
    border: 3px solid #000000;
    border-radius: 50%
    }
.header__user-icon{
    margin-top: 5px;
    font-size: 30px;
}
/* Container */
body{
    background-color: #212529;
}
.webreview_container{
    color: #ffffff;
    margin: auto;
    display: flex;
}
.container_img-login{
   margin:auto;
}
.bgimg{
    display:flex;
    height: 518px;
}
img.changebg{
    position: absolute;
    top: 550px;
    left: 1400px;
    border-radius: 15%;
}
#main{
    background: #353434;
    height: 1200px;
    width: auto;
}

img.avatar
{
    position: absolute;
    display: flex;
    top: 130px;
    left: 650px;
    border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  padding: 5px;
  width: 180px;
}
.Name{
    font-size: 18px;
    color: #ffffff;
    margin-left: 250px;
    margin-top: 200px;
}
.birthday{
    position: absolute;
    font-size: 18px;
    color: #ffffff;
    margin-top: -57px;
    margin-left: 830px;
}
    .input_birthday{
        font-family: 'Comfortaa', cursive;
        font-size: 20px;
        width: 260px;
        height: 20px;
        color: #ffffff;
        align-items: center;
        border: none;
        outline: none;
        margin-top: 15px;
        margin-left: 15px;
        background-color: #353434;
        display: flex;
        
   
}
.birthday1{
    display: flex;
    border-radius: 100px;
    width: 600px;
    height: 55px;
    border: 2px solid;
    border-color: #ffffff;
    margin-left: 550px;
    margin-top: -1px;
}
.Email{
    position: absolute;
    font-size: 18px;
    color: #ffffff;
    margin-top: -850px;
    margin-left: 250px;
}
.email1{
    display: flex;
    border-radius: 100px;
    width: 1100px;
    height: 55px;
    border: 2px solid;
    border-color: #ffffff;
    margin-left: -50px;
    margin-top: -1px;}
    .input_email{
        font-family: 'Comfortaa', cursive;
        font-size: 20px;
        width: 500px;
        height: 30px;
        color: #ffffff;
        align-items: center;
        border: none;
        outline: none;
        margin-top: 15px;
        margin-left: 15px;
        background-color: #353434;
        display: flex;
    }
    .Meal{
        position: absolute;
        font-size: 18px;
        color: #ffffff;
        margin-top: -550px;
        margin-left: 250px;
    }
    .meal1{
        display: flex;
        border-radius: 100px;
        width: 1100px;
        height: 55px;
        border: 2px solid;
        border-color: #ffffff;
        margin-left: -50px;
        margin-top: -1px;}
        .input_meal{
            font-family: 'Comfortaa', cursive;
            font-size: 20px;
            width: 500px;
            height: 30px;
            color: #ffffff;
            align-items: center;
            border: none;
            outline: none;
            margin-top: 15px;
            margin-left: 15px;
            background-color: #353434;
            display: flex;
        }
    .Addr{
        position: absolute;
        font-size: 18px;
        color: #ffffff;
        margin-top: -700px;
        margin-left: 250px;
    }
    .Addr1{
        display: flex;
        border-radius: 100px;
        width: 1100px;
        height: 55px;
        border: 2px solid;
        border-color: #ffffff;
        margin-left: -50px;
        margin-top: -1px;}
        .input_addr{
            font-family: 'Comfortaa', cursive;
            font-size: 20px;
            width: 1000px;
            height: 30px;
            color: #ffffff;
            align-items: center;
            border: none;
            outline: none;
            margin-top: 15px;
            margin-left: 15px;
            background-color: #353434;
            display: flex;
        }
#main h1 {
    position: relative;
    margin: 0px;
    align-items: center;
    text-align: center;
    top: 110px;
}
.Login__form{
    color: #3CAF4B;
    margin: auto;
    font-size: 26px;
}
.Login__username-space{
    display: flex;
}
.Login__username{
    display: flex;
    border-radius: 100px;
    width: 600px;
    height: 55px;
    border: 2px solid;
    border-color: #ffffff;
    margin-left: 200px;
}
.Login__username-input{
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    width: 260px;
    height: 30px;
    color: #ffffff;
    align-items: center;
    border: none;
    outline: none;
    margin-top: 15px;
    margin-left: 15px;
    background-color: #353434;
    display: flex;
}
/*password*/
.Login__password-space{
    display: flex;
    margin-top: 20px;
}
.Login__password-icon{
    width: 50px;
    height: 50px;
    margin-left: 15px;
    margin-top: 13px;
    color: #ffffff;
}
.Login__password{
    width: 200px;
    display: flex;
    border-radius: 100px;
    width: 300px;
    height: 55px;
    border: 2px solid;
    border-color: #ffffff;
    margin-left: 5px;
}
.Login__password-input{
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    width: 260px;
    height: 20px;
    color: #ffffff;
    align-items: center;
    border: none;
    outline: none;
    margin-top: 15px;
    margin-left: 15px;
    background-color: #212529;
    display: flex;
}
.confirm{
    position: absolute;
    font-size: 18px;
    color: #ffffff;
    margin-top: -330px;
    margin-left: 250px;
}
p.confirm2{
    position: absolute;
    margin-top: -50px;
    margin-left: 380px ;
}
.confirm1{
    display: flex;
    border-radius: 100px;
    width: 500px;
    height: 55px;
    border: 2px solid;
    border-color: #ffffff;
    margin-left: 240px;
    margin-top: -1px;}
    .input_pass{
        font-family: 'Comfortaa', cursive;
        font-size: 20px;
        width: 400px;
        height: 30px;
        color: #ffffff;
        align-items: center;
        border: none;
        outline: none;
        margin-top: 15px;
        margin-left: 15px;
        background-color: #353434;
        display: flex;}
/*button*/
.btn{
    position: absolute;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 12px;
    font-size: 22px;
    width: 300px;
    margin-top: -210px;
    margin-left: 590px;
    border-radius: 100px;
    cursor: pointer;
    transition: opacity 0.2s;
}
.btn:hover{
    background: #3CAF4B;
}
.btn--login{
    background-color: #0A6937;
}
.btn--disable{
    opacity: 0.5 !important;
    cursor: default;
}
.login__extend{
    text-align: right;
}
.login__extend1{
    margin-top: 20px;
    color: #0D8244;
    outline: none;
    text-decoration: none;
}
/* footer */
.footer{
    height: auto;
    background-color: #0D8244;
}
.footer__heading{
    color: #ffffff;
    font-size: 20px;
}
.footer__logo{
    display: flex;
}
.footer__icon{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    width: 100%;
    color: #ffffff;
    font-size: 30px;
    align-items: center;
    text-align: center;
}
.footer__list{
    color: #ffffff;
    font-size: 14px;
    list-style: none;
}
.footer-item{
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    list-style: none;
    line-height: 1.6;
}
.footer-item__link{
    text-decoration: none;
    color: #ffffff;
}