
.login{
    background: linear-gradient(
        rgba(0, 0, 0, 0.4), 
        rgba(0, 0, 0, 0.4)
      ),
    url("https://www.wallpaperflare.com/static/259/141/300/food-still-life-wooden-surface-brown-wallpaper.jpg") no-repeat;
    background-size: cover;
    height: 120vh;
    min-height: 600px;
    align-items: center;
    font-family: 'Comfortaa', cursive;
    }
.loginTitle{
    align-self: center;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
    
}
.loginForm{
    padding-top: 25vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    border:2px solid #fff;
    margin: 90px;
    padding-bottom: 100px;
    margin-left: 520px;
    margin-right: 520px;
    background-color: rgba(255, 255, 255, 0.32);

}

.loginInput{
    position: relative;
    padding: 1em 3em 1em 1em;
    width: 400px;
    border-radius: 30px;
    border: 2px solid #000;
    background: rgba(255, 255, 255, 0.35);
    /* color: #000; */
    text-indent: 30px;
    background-color: #fff;
    
}
::placeholder{
    color: #000;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;

}
.loginInput:focus{
    outline: none;
}
.loginButton{
    cursor: pointer;
    background-color: #0A6937;
    color: #fff;
    padding: .7em 0;
    border: 1px solid #FFF;
    outline: none;
    font-size: 20px;
    border-radius: 30px;
    width: 200px;
}
.loginButton:hover{
    background-color: #9EEB47;
    color: #000;
    transition: 0.5s all;
}
.loginButton:disabled{
    cursor: not-allowed;
    background-color:gray ;
}
.loginRegisterButton{
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    color:#fff;
    font-weight: 700;
    width: 80px;
    margin: 20px 0 20px 320px;
}
.loginRegisterButton:hover{
    color: #9EEB47;
}
.loginIcon{
    position: absolute;
    margin: 18px;
    font-size: 20px;
    color: #000;
    z-index: 100;
}
