
.login{
    background: linear-gradient(
        rgba(0, 0, 0, 0.4), 
        rgba(0, 0, 0, 0.4)
      ),
    url("https://scontent.fsgn6-2.fna.fbcdn.net/v/t1.15752-9/261210397_915655389077897_2310401033975776946_n.png?_nc_cat=100&ccb=1-5&_nc_sid=ae9488&_nc_ohc=pglbL7YFyJkAX8W6tAW&tn=44Z3rCsAVkXu8uyQ&_nc_ht=scontent.fsgn6-2.fna&oh=ca2008ad64401cb6b6c457981c04b465&oe=61D54058") no-repeat;
    background-size: cover;
    height: 90vh;
    min-height: 700px;
    align-items: center;
    font-family: 'Comfortaa', cursive;
    }
.loginTitle{
    align-self: center;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}
.loginForm{
    padding-top: 25vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.loginInput{
    padding: 1em 3em 1em 1em;
    width: 400px;
    border-radius: 30px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.35);
    color: #FFF;
    text-indent: 30px;
}
::placeholder{
    color: #CCC;
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
}
.loginInput:focus{
    outline: none;
}
.loginButton{
    cursor: pointer;
    background-color: #0A6937;
    color: #fff;
    padding: .7em 0;
    border: 1px solid #FFF;
    outline: none;
    font-size: 20px;
    border-radius: 30px;
    width: 200px;
}
.loginButton:hover{
    background-color: #9EEB47;
    color: #000;
    transition: 0.5s all;
}
.loginButton:disabled{
    cursor: not-allowed;
    background-color:gray ;
}
.loginRegisterButton{
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    color:#fff;
    font-weight: 700;
    width: 80px;
    margin: 20px 0 20px 320px;
}
.loginRegisterButton:hover{
    color: #9EEB47;
}
.loginIcon{
    position: absolute;
    margin: 18px;
    font-size: 20px;
    color: #FFF;
    z-index: 100;
}
