
.login{
    height: 92vh;
    background: linear-gradient(
        rgba(0, 0, 0, 0.4), 
        rgba(0, 0, 0, 0.4)
      ),
    url("https://previews.123rf.com/images/jagcz/jagcz1702/jagcz170200137/72504515-asian-food-served-on-old-wooden-table-top-view-space-for-text-chinese-and-vietnamese-cuisine-set-.jpg") no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    align-items: center;
    font-family: 'Comfortaa', cursive;
    }
.loginTitle{
    align-self: center;
    align-items: center;
    font-size: 50px;
    color: #FFF;
    margin-bottom: 20px;
}
.loginForm{
    padding-top: 20vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.loginInput{
    position: relative;
    padding: 1em 3em 1em 1em;
    width: 400px;
    border-radius: 30px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.35);
    color: #FFF;
    text-indent: 30px;
}
::placeholder{
    color: #DDD;
}
.loginInput:focus{
    outline: none;
}
.loginButton{
    cursor: pointer;
    background-color: #0A6937;
    color: #fff;
    padding: .7em 0;
    border: 1px solid #FFF;
    outline: none;
    font-size: 20px;
    border-radius: 30px;
    width: 200px;
}
.loginButton:hover{
    background-color: #9EEB47;
    color: #000;
    transition: 0.5s all;
}
.loginButton:disabled{
    cursor: not-allowed;
    background-color:gray ;
}
.loginRegisterButton{
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    color:#fff;
    font-weight: 700;
    width: 80px;
    margin: 20px 0 20px 320px;
}
.loginRegisterButton:hover{
    color: #9EEB47;
}
.loginIcon{
    position: absolute;
    margin: 18px;
    font-size: 20px;
    color: red;
}