.NavbarAfterLogin{
    background: #0D8244;
    padding-bottom: 10px;
    position: sticky;
    margin-bottom: 70px;
    z-index: 999;
}

.TC-navbar.r-nav{
    background: #0D8244;
    padding: 5px 0;
    transition: 0.5s all;
}

.TC-navbar .navbar-brand{
    padding: 5px;
}
.container-fluid{
    width: 2000px;
}
.TC-navbar .container-fluid{
    background: #0D8244 !important;
    padding: 5px 20px;
}
.TC-navbar .navbar-nav li a{
    color:rgba(255, 255, 255, 0.8) !important;
    font-size: 20px;
    letter-spacing: 0.05em;
    font-weight: 600;
    font-family: 'Comfortaa', cursive;
    cursor: pointer;
}
.TC-navbar .navbar-nav li{
    margin-left: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.TC-navbar .navbar-nav-icon-ava img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.TC-navbar .navbar-toggler:focus {
    box-shadow: none;
}
.TC-navbar .navbar-nav input{
    background: #000 !important;
    border-radius: 100px;
    border:2px solid #fff;
    text-indent: 33px;
    color: white !important;
    width: 400px !important;
    height: 50px;
    font-size: 20px;
    width: 300px !important;
} 
.TC-navbar .navbar-nav i{
   position: absolute;
   color: #fff;
   margin-top: 15px;
   margin-left: 13px;
   font-size: 20px;

} 

/* .TC-navbar.r-nav.TC-stickyadd{
    background: #0D8244 !important;
    padding: 15px 0;
    box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.05);
    transition: 0.5s all ease-in-out;
} */
.TC-navbar.TC-stickyadd .navbar-brand{
    color: black;
    font-size: 40px;
    transition: 0.5s all;
}

.TC-navbar.TC-stickyadd .navbar-nav .nav-link{
    color:black !important;
}



.TC-navbar .hamburger{
    color:white
}


.TC-navbar.TC-stickyadd .hamburger{
    color: black;
}
.loginUser{
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    border: 2px solid #000;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
    background-color: #FAFF0B;
    margin-bottom: 10px;
}
.loginUser:hover{
    background-color: #9EEB47;
    transition: 0.5s all;
    border: 2px solid #fff;
    color: #000;
    
}
.WelcomeText{
    font-family: 'Comfortaa', cursive;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    padding: 5px;
}
