:root{
    --white-color: #ffffff;
    --black-color: #000000;
    --text-color:  #ffffff; 

}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Comfortaa', cursive;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #212529 !important;
}

a {
    text-decoration: none;
    color: inherit;
}

#web-content {
    padding-top: 100px;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full_width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-right: 5px;
}

.grid__column-2-4 {
    padding: 10px 5px;
    width: 25%;
}
/* header */
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #0D8244;
    padding: 10px 15px;
    height: 90px;
}

.container-header {
    width: 96%;
    height: 70px;
    margin: 0 auto;
    vertical-align: center;
}

.logo-box, .center-box, 
.search-box, .login-box {
    display: inline-block;
    margin: 10px 0;
}

.logo-box {
    float: left;
}

.center-box {
    height: 50px;
    width: calc(100% - 800px);
    float: left;
}

.search-box {
    background-color: #212529;
    width: 300px;
    height: 50px;
    border-radius: 255px;
}

.search-box .search-icon {
    color: #fff;
    padding: 15px 10px;
    margin-left: 5px;
}

.search-box .search-input {
    color: #fff;
    border: none;
    outline: none;
    background-color: inherit;
    line-height: 45px;
    width: 200px;
    padding: 0;
    font-size: 16px;
}

.login-box {
    float: right;
    margin: 15px 0;
}

.login-box .login-btn {
    color: #212529;
    background-color: #FAFF0B;
    border: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    padding-top: 13px;
    border-radius: 65px;
    cursor: pointer;
}

.login-box .login-btn:hover {
    opacity: 0.9;
    text-shadow: 1px 1px 2px rgb(190, 190, 5);
}
/* footer */
#footer{
    height: auto;
    margin-top: auto;
    background-color: #0D8244;
}
.footer__heading{
    color: #ffffff;
    font-size: 20px;
}
.footer__logo{
    display: flex;
}
.footer__icon{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    width: 100%;
    color: #ffffff;
    font-size: 30px;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
}
.footer__list{
    color: #ffffff;
    font-size: 14px;
    list-style: none;
}
.footer-item{
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    list-style: none;
    line-height: 1.6;
}
.footer-item__link{
    text-decoration: none;
    color: #ffffff;
}
