/* Container */
.webreview_container{
    color: #ffffff;
    width: 90%;
    margin: 50px auto;
    display: flex;
}
.container_img-login{
    margin-right: 10px;
    width: 595px;
    height: 518px;
}
.img{
    border-radius: 20%;
}
/*Login*/
.login_arrtibutes{
    font-size: 18px;
    color: #ffffff;
    margin-left: 88px;
}
.Login__form{
    color: #3CAF4B;
    margin: 0 auto;
    font-size: 26px;
}
.Login__username-space{
    display: flex;
}
.Login__username-icon{
    width: 50px;
    height: 50px;
    margin-top: 2px;
}
.Login__username{
    width: 200px;
    display: flex;
    border-radius: 100px;
    width: 300px;
    height: 55px;
    border: 2px solid;
    border-color: #ffffff;
    margin-left: 20px;
}
.Login__username-input{
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    width: 260px;
    height: 20px;
    color: #ffffff;
    align-items: center;
    border: none;
    outline: none;
    margin-top: 15px;
    margin-left: 15px;
    background-color: #212529;
    display: flex;
}
/*password*/
.Login__password-space{
    display: flex;
    margin-top: 20px;
}
.Login__password-icon{
    width: 50px;
    height: 50px;
    margin-left: 15px;
    margin-top: 13px;
    color: #ffffff;
}
.Login__password{
    width: 200px;
    display: flex;
    border-radius: 100px;
    width: 300px;
    height: 55px;
    border: 2px solid;
    border-color: #ffffff;
    margin-left: 5px;
}
.Login__password-input{
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    width: 260px;
    height: 20px;
    color: #ffffff;
    align-items: center;
    border: none;
    outline: none;
    margin-top: 15px;
    margin-left: 15px;
    background-color: #212529;
    display: flex;
}
/*button*/
.btn{
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 12px 48px;
    width: 371px;
    margin-top: 20px;
    border-radius: 100px;
    cursor: pointer;
    transition: opacity 0.2s;
}
.btn:hover{
    background-color: #0D8244;
    text-shadow: 1px 1px 2px #3CAF4B;
}
.btn--login{
    background-color: #0A6937;
}
.btn--disable{
    opacity: 0.5 !important;
    cursor: default;
}
.login__extend{
    text-align: right;
}
.login__extend1:hover{
    color: #FAFF0B;
}
.login__extend1{
    margin-top: 20px;
    color: #0D8244;
    outline: none;
    text-decoration: none;
}
